<% errors.forEach(function(message) { %>
    <div class="alert alert-danger" role="alert">
        <%= message %> 
    </div>
    
<% }) %>

<% loginErrors.forEach(function(message) { %>
  <div class="alert alert-danger" role="alert">
      <%= message %> 
  </div>
  
<% }) %>

<% regErrors.forEach(function(message) { %>
  <div class="alert alert-danger" role="alert">
      <%= message %> 
  </div>
  
<% }) %>




