<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/main.css">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    
    <title>sign up page</title>
</head>


<body>
    <!-- headers -->

    <header class="header group">
        <div class="container">

            <div class="navbar">
                <ul>
                    <li>
                        <a href=""> About </a>
                    </li>

                    <li>
                        <a href=""> Contact Us </a>
                    </li>
                </ul>

            </div>
            
            <div class="header-logo">
                <svg width="80" height="51" viewBox="0 0 210 181" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M208 2L4 99.94L53.9444 110.56L208 2Z" fill="#87E4BA"/>
                    <path d="M208 2L53.9444 110.56V154.22L208 2Z" fill="#87E4BA"/>
                    <path d="M140.684 179L208 2L95.0822 128.26L140.684 179Z" fill="#87E4BA"/>
                    <path d="M95.0822 128.26L208 2L53.9444 154.22L95.0822 128.26Z" fill="#87E4BA"/>
                    <path d="M208 2L4 99.94L53.9444 110.56M208 2L140.684 179L95.0822 128.26M208 2L95.0822 128.26M208 2L53.9444 110.56M208 2L53.9444 154.22M95.0822 128.26L53.9444 154.22M53.9444 110.56V154.22" stroke="black" stroke-width="2"/>
                    </svg>                
            </div>
        </div>
    </header>
    <!-- sign up and login forms -->
    <div class="container">
        <div class="login-h1">
            <h1>Register</h1>
        </div>

        <div class="forms-container group">
        
         <!-- login  -->
            <div class="login-reg-container">
                <h1>Email</h1>
                <form action="/register" method="POST">
                    <label for="firstName" class="hidden-label" >First Name</label>
                    <input required name="firstName" type="text" id="firstName" placeholder="First Name">
                    
                    <label for="lastName" class="hidden-label" >Last Name</label>
                    <input required name="lastName" type="text" id="lastName" placeholder="Last name">

                    <label for="registerEmail" class="hidden-label" >Email</label>
                    <input required name="email" type="email" id="registerEmail" placeholder="Enter Your Email">
                    <label for="password" class="hidden-label" >Password</label>
                    <input required name="password" type="password" id="password" placeholder="Enter Your Password">

                    <input type="submit">
                </form>
            </div>

            <!-- vertical devider -->
            <div class="svg-divider">
                <svg width="63" height="299" viewBox="0 0 63 299" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="63" height="299" fill="white"/>
                    <line x1="30.4237" y1="13.8267" x2="30.523" y2="123.008" stroke="#9B9B9B"/>
                    <line x1="30.5" y1="177" x2="30.5993" y2="286.181" stroke="#9B9B9B"/>
                    <path d="M26.8238 156.384C25.7358 156.384 24.7518 156.12 23.8718 155.592C22.9918 155.048 22.3038 154.336 21.8078 153.456C21.3118 152.56 21.0638 151.592 21.0638 150.552C21.0638 149.528 21.3118 148.576 21.8078 147.696C22.3198 146.816 23.0078 146.12 23.8718 145.608C24.7518 145.08 25.7278 144.816 26.7998 144.816C27.8558 144.816 28.8158 145.08 29.6798 145.608C30.5598 146.12 31.2478 146.816 31.7438 147.696C32.2398 148.576 32.4878 149.528 32.4878 150.552C32.4878 151.624 32.2478 152.608 31.7678 153.504C31.2878 154.384 30.6158 155.088 29.7518 155.616C28.9038 156.128 27.9278 156.384 26.8238 156.384ZM26.8238 155.712C27.7358 155.712 28.5678 155.48 29.3198 155.016C30.0718 154.552 30.6558 153.936 31.0718 153.168C31.5038 152.384 31.7198 151.528 31.7198 150.6C31.7198 149.688 31.5038 148.84 31.0718 148.056C30.6398 147.272 30.0478 146.648 29.2958 146.184C28.5438 145.72 27.7118 145.488 26.7998 145.488C25.8878 145.488 25.0478 145.728 24.2798 146.208C23.5278 146.672 22.9278 147.296 22.4798 148.08C22.0478 148.864 21.8318 149.712 21.8318 150.624C21.8318 151.536 22.0478 152.384 22.4798 153.168C22.9278 153.936 23.5278 154.552 24.2798 155.016C25.0478 155.48 25.8958 155.712 26.8238 155.712ZM34.6487 145.2H35.4167V147.696C35.7367 146.912 36.2007 146.296 36.8087 145.848C37.4327 145.4 38.1367 145.176 38.9207 145.176C39.4167 145.176 39.9207 145.28 40.4327 145.488V146.376C39.9687 146.024 39.4487 145.848 38.8727 145.848C38.2967 145.848 37.7367 146.024 37.1927 146.376C36.6647 146.728 36.2327 147.2 35.8967 147.792C35.5767 148.384 35.4167 149.016 35.4167 149.688V156H34.6487V145.2Z" fill="#797979"/>
                </svg>
            </div>

            <!--  google Login -->
            <div class="socialmedia-container">
                <h1>Social Media</h1>
                <div class="socialmedia-login-signup">
                    <button class="socialmedia-button" id="google-signup-btn"><svg width="30" height="30" viewBox="0 0 256 262" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027" fill="#4285F4"/><path d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1" fill="#34A853"/><path d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782" fill="#FBBC05"/><path d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251" fill="#EB4335"/></svg>
                    <span class="socialmedia-login-signup-text"> Sign Up using Google </span> </button>
                </div>

                <div class="socialmedia-login-signup">
                    <button  class="socialmedia-button"  id="facebook-signup-btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="88.428 12.828 107.543 207.085"><path d="M158.232 219.912v-94.461h31.707l4.747-36.813h-36.454V65.134c0-10.658 2.96-17.922 18.245-17.922l19.494-.009V14.278c-3.373-.447-14.944-1.449-28.406-1.449-28.106 0-47.348 17.155-47.348 48.661v27.149H88.428v36.813h31.788v94.461l38.016-.001z" fill="#3c5a9a"/></svg>
                        <span class="socialmedia-login-signup-text"> Sign Up using Facebook </span> </button>
                </div>

            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="copyrights">
            <p>&copy; All Rights Reserved</p>
        </div>
        <!-- google login -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </footer>

</div>


    
</body>
</html>