body{
    font-family:'Exo','Roboto', sans-serif;

}
p{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;

}
.cust-f-color{
color: #ADEFD1FF ; 
}
.cust-f-color:hover{
border-bottom: 2px solid #ADEFD1FF;
border-radius: 5px;
color:#ADEFD1FF ;
}

.cust-f-color:active,
.cust-f-color:focus{
border-bottom: 2px solid #ADEFD1FF;
border-radius: 5px;
color:#ADEFD1FF ;
}

.cust-b-color{
background-color: rgb(0, 32, 63);
}

.client-list{
    height: 400px;
    overflow-y: auto;
    
}

.new-contact{
    width: 50%;
}


/* custom rules for  form's input and buttons */
#signupFormContainer{
    width: 60%;
    border-top: 1px lightgray solid;
    margin-top: 2px;

}
#resetForm{
    width: 50%;
}
/* forms input */


input[type="email"],
input[type="password"],
input[type="submit"],
input[type="text"]  {

text-align: center;
display: block;
width: 100%;
height: 40px;
border: 0;
outline: none;


}

input[type="email"],
input[type="password"],
input[type="text"] {

border-bottom: 1px solid lightgrey;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {

border-bottom: 1px solid #ADEFD1FF;
background-color:rgba(173, 239, 209, 0.35);

}
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover {

background-color:rgba(173, 239, 209, 0.15);

}

input[type="submit"] {
margin-top: 10px;
border-radius: 2px;
background-color: #00203FFF;
color:#ADEFD1FF;

}

input[type="submit"]:focus,
input[type="submit"]:hover {
margin-top: 10px;
border-radius: 2px;
color: #ADEFD1FF;
background-color: rgb(0, 59, 117) ;

}

#disabledEmail{
    background-color: rgba(255, 182, 29, 0.45) !important;

}



/****** custom buttons */


/* social media button customs */
.socialmedia-button {

background-color: white;
border: 0;
font-family:'Exo','Roboto', sans-serif;
border-bottom: 1px solid lightgray;
/* width: 100%; */
}

.socialmedia-button:hover{

background-color:rgba(173, 239, 209, 0.15);
border: 0;
font-family:'Exo','Roboto', sans-serif;
border-bottom: 1px solid lightgray;

}

#signUpSection{
    color: black;
    
}
#signUpSection:hover,
#signUpSection:focus{
 background-color: rgba(135, 228, 186, 0.35);
    
}

/* login logout */
#logoutButton, #loginButton{
    border: 0;
    border-radius: 4px;
    width: 100%;

   
}

#logoutButton{
    background-color: rgba(255,255,255,0);
    color: #EB5757;
}
#logoutButton:hover{
    border-bottom: 2px solid #EB5757;;
}
#logoutButton:focus{
    outline: none;

}

#loginButton{
    color: rgb(255, 182, 29);
}


#loginButton:hover{
    border-bottom: 2px solid rgb(255, 182, 29); 
}
#forgotPassword{
    background-color: #EB5757  !important;
    color: white ;
}
#forgotPassword:hover{
    background-color: rgba(235, 87, 87, 0.55)  !important;
    color: black ;
}

.bttn {
    padding: 5px;
    border: 0;
    border-radius: 4px;
    width: 100%;
}

.bttn:focus{
    outline: 0;
}

.bttn-success{
    background-color: rgba(135, 228, 186, 0.25);
}
.bttn-warning{
    background-color: rgba(255, 182, 29, 0.25) ;
}
.bttn-danger{
    background-color: rgba(235, 87, 87, 0.25);
}

.bttn-success:hover{
    background-color: rgba(135, 228, 186, 0.75);
}
.bttn-warning:hover{
    background-color: rgba(255, 182, 29, 0.55) ;
}
.bttn-danger:hover{
    background-color: rgba(235, 87, 87, 0.55);
}



/* modal close */

.modalClose {
    background-color: lightgray !important;
    color: rgb(0, 59, 117) !important;
    }
.modalClose:hover,
.modalClose:active{
    background-color: #EB5757 !important;
    color: white !important;
    }


/* yellow: #FFB61D
light yellow: #ffe09e
crayon : #87E4BA 
light crayon: #c4ffe5
red: #EB5757

light red: #ffa6a6

  
*